.count{
    position: absolute;
    width: 23px;
    height: 24px;
    left: 741px;
    top: 237px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #000000;
};


.button-1 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 679px;
    top: 229px; 
    background: #04A928;
    border-radius: 4px;
};


.button-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 787px;
    top: 229px;
    background: #B10202;
    border-radius: 4px;
};