.menu {
    color: #402E2A;
    background-color: #D5B0AC;
    font-weight: bold;
}

.menu1 {
    color: #402E2A;
    background-color: #D5B0AC;
    font-weight: bold;
}
.menu1 > span{
    display: inline-block;
    height: 30px;
    width: 100px;
    padding-top: 10px;
}

.menu2 {
    color: #402E2A;
    background-color: #D5B0AC;
    font-weight: bold;
    text-align: center;
}
.menu2 > span{
    display: inline-block;
    height: 30px;
    width: 100px;
    padding-top: 10px; 
}

.menu3 {
    color: #402E2A;
    background-color: #D5B0AC;
    font-weight: bold;
    text-align: center;
}
.menu3 > span{
    display: inline-block;
    height: 30px;
    width: 100px;
    padding-top: 10px;
}

.menu3 > span:hover{
    background: #9CD08F;
    color: #FFFFFF;
    cursor: pointer;
}

.menu_vertical{
    display: block;
    height: 30px;
    width:100px;
    text-align: center;
}

.menu_vertical > span{
    height: 30px;
    width: 100px;
    display: block;
    background: #D5B0AC;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 10px; 
}

.menu_vertical > span:hover{
    background: #9CD08F;
    color: #FFFFFF;
    cursor: pointer;
}