<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Answer Something</title>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
        $.getJSON('question.json', function(data){
            console.log(data)
            let questionList = data[Math.floor(Math.random()* data.length)];
            let display = document.getElementById('question');
            display.innerHTML = questionList;
        })
        
    </script>
</head>
<body>
    <nav>
        <a href="/ask">Quick Ask</a>
        <a href="/answers">Quick Answers</a>  
    </nav>
    <h1 id="question"></h1>
    <div>
        <button>Sai/Không/Trái</button>
        <button>Đúng/Có/Phải</button>
    </div><br>
    
    <div>
        <button>Kết quả vote</button>
        <button>Câu hỏi khác</button>
    </div>
</body>
</html>