.header {
    background-color: #0000ff;
    text-align: center;
    font-weight: bold;
}

.nav {
    background-color: #800080;
    text-align: center;
}

.main {
    background-color: #ffd700;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70vw;
}

.aside {
    background-color: #808080;
    font-weight: bold;
    text-align: center;
    display: flex;
    width: 28vw;
    flex-direction:row;
}

.footer {
    background-color: #00ffff;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
}
